body{
    background-color: lightgray;
}
p{
    font-family: Verdana;
    margin-left: 20px;
    max-width: 720px;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
}
.cor{
    color: blue;
}