p{
    max-width: 720px;
    margin-left: 50px;
    font-size: medium;
    
}
h1{
    text-align: center;
    font-size: 70px;

}
body{
    background-image: linear-gradient( 150deg, lightgray,white );
}