* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
      border-top: 30px solid gray;
      border-right: 75px solid gray;
      border-left: 75px solid gray ;
      border-bottom: 15px solid gray;
      height: 100vh;
  }
  
  h1 {
    background-color: aliceblue;
    margin: 50px;
    border: 9px solid powderblue;
    padding: 30px;
    font-family: courier;
    font-size: 300%;
    text-align: center;
  }
  a {
    margin: 50px;
    border: inset gray;
  }
  p{
    margin: 50px;
    font-family: cursive;
    text-align: justify;
  }
  img{
    float: right;
  }  
h2 {
    line-height: 0px;
    margin-left: 50px;
} 